<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101782497272-6rti13agi7etr2cdsobc288b3jj1pkpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101782497272-6rti13agi7etr2cdsobc288b3jj1pkpo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101782497272-3dprg6mbvcpnl2319t7sl6ug8dfcahr5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNk_V2nNpdtt4GqidWyduMCHEEgrUagiA</string>
	<key>GCM_SENDER_ID</key>
	<string>101782497272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsHubIos</string>
	<key>PROJECT_ID</key>
	<string>sports-hub-2710</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-hub-2710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101782497272:ios:2e4f403eb5c4091cfed80d</string>
	<key>DATABASE_URL</key>
	<string>https://sports-hub-2710-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>